:root {
  --warna-ungu: 168 85 247; /*isi value dengan warna rgb*/
  --warna-pink: 236 72 153; /*isi value dengan warna rgb*/
  --warna-biru: 2 132 199; /*isi value dengan warna rgb*/
  --warna-orange: 249 115 22; /*isi value dengan warna rgb*/

  --warna-tema: var(--warna-orange);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.kotak {
  @apply h-20 w-20;
  /* background-color: rgba(200, 0, 0, 0.4); */
  background-color: theme(colors.hijau / 50%);
}
